<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> 母校校友服务组织</title>
    <link href="../../../Content/css/layout.css" rel="stylesheet">
    <link href="../../../Content/css/style.css" rel="stylesheet">
    <link href="../../../Content/css/New-style.css" rel="stylesheet">
    <style>
        .mainbg{
            background:#fff;
            padding:30px;
        }
        .card-detail h3{
            width:100%;
            height:30px;
            font-size:20px;
            line-height:30px;
            text-align:center;
        }

        .card-detail p{
            margin-bottom:10px;
            line-height:24px;
        }
    </style>
</head>
<body class="body-bgColor">
<div class="body-layout">
    <!-- 顶部导航与logo begin {-->
    <div class="new-navbar-box new-navbar-fixed-top">
        <div class="new-navbar-top" style="display: block;">
            <div class="new-navbar-top-content">
                <h3 class="new-navbar-top-title">校友信息管理系统</h3>
                <div class="new-navbar-userID">
                    欢迎校友<span class="new-navbar-userName">周树琴</span><em class="Drop-icon"></em>
                    <div class="Drop-box">
                        <span class="Drop-box-item">修改密码</span>
                        <span class="Drop-box-item">注销</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-navbar">
            <div class="new-container clearfix">
                <div class="new-navbar-header" style="display: block;">
                    <a class="new-navbar-brand" href="#" title="1COURSE"><img src="../../Content/images/school-log.jpg" width="50" height="50"></a>
                </div>
                <div class="new-navbar-nav navbar-content">
                    <!-- 导航里面的一级导航 begin {-->
                    <ul class="new-navbar-nav-left clearfix">
                        <li class="new-navbar-nav-item"><a href="#" >首页</a></li>
                        <li class="new-navbar-nav-item"><a href="#">校友组织</a></li>
                        <li class="new-navbar-nav-item"><a href="#" >校友天地</a></li>
                        <li class="new-navbar-nav-item"><a href="#" class="nav-current">校友服务</a></li>
                        <li class="new-navbar-nav-item"><a href="#">校友捐赠</a></li>
                        <li class="new-navbar-nav-item"><a href="#">联系我们</a></li>
                    </ul>
                    <!--} 导航里面的一级导航 end -->
                </div>
            </div>
        </div>
    </div>
    <!--} 顶部导航与logo end -->
    <div class="new-container mainbg">
        <div class="">
            您的位置：<a href="card-service.html" class="user-address">校友服务</a> <em>&#62</em> 母校校友服务组织
        </div>
        <div class="card-detail">
            <h3>母校校友服务组织及微信微博平台</h3>
            <p>
                <b>母校校友服务组织</b><br/>
                母校校友服务组织是这样的 母校校友服务组织是这样的 母校校友服务组织是这样的 母校校友服务组织是这样的 母校校友服务组织是这样的母校校友服务组织是这样的
                母校校友服务组织是这样的母校校友服务组织是这样的母校校友服务组织是这样的母校校友服务组织是这样的母校校友服务组织是这样的母校校友服务组织是这样的

            </p>
            <p>
                <b>母校微信平台</b><br/>

                母校微信平台是这样的，有这些功能母校微信平台是这样的，有这些功能母校微信平台是这样的，有这些功能母校微信平台是这样的，有这些功能
                母校微信平台是这样的，有这些功能母校微信平台是这样的，有这些功能母校微信平台是这样的，有这些功能母校微信平台是这样的，有这些功能
                母校微信平台是这样的，有这些功能母校微信平台是这样的，有这些功能


            </p>
            <p>
                <b>母校微博平台</b><br/>
               母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的
                母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的母校的微博平台是这样的
            </p>
            <p>
                <b>扫一扫，关注母校微信与微博</b><br/>
                <img src="../../../Content/images/weixin-weibo.jpg" width="300"/>
            </p>

        </div>
    </div>
</div>

<script src="../../scripts/jquery.min.js">
</script>
<script>

</script>
</body>
</html>