
@{
    ViewBag.Title = "校园卡服务";
}

<style>
    .card-detail h3{
        width:100%;
        height:30px;
        font-size:20px;
        line-height:30px;
        text-align:center;
    }

    .card-detail p{
        margin-bottom:10px;
        line-height:24px;
    }
</style>

<div class="">
    您的位置：<a href="#" class="user-address">校友服务</a> <em>&#62</em> 校友卡服务
</div>
<div class="card-detail">
    <h3>校园卡常见问题以及办理流程</h3>
    <p>
        <b> 问题1：校友卡如何办理？</b><br/>
        校友卡是这样办理的校友卡是这样办理的，校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是
        这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的
        校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的校友卡是这样办理的

    </p>
    <p>
        <b>问题2：校友卡如何激活？</b><br/>
        校友卡是这样激活的的校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的
        校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的
        校友卡是这样激活的  校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的  校友卡是这样激活的校友卡是这样激活的校友卡是这样激活的  校友卡是这样激活的校友卡是这样激活的
        校友卡是这样激活的校友卡是这样激活的

    </p>
    <p>
        <b>问题3：校友卡如何挂失？</b><br/>
        校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的
        校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的
        校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的 校友卡是这样挂失的
    </p>
    <p>
        <b>问题3：校友卡如何在线充值？</b><br/>
        校友卡是这样在线充值的，校友卡是这样在线充值的校友卡是这样在线充值的校友卡是这样在线充值的校友卡是这样在线充值的校友卡是这
        样在线充值的校友卡是这样在线充值的校友卡是这样在线充值的校友卡是这样在线充值的校友卡是这样在线充值的校友卡是这样在线充值的
        校友卡是这样在线充值的
    </p>
    <p>
        <b>问题4：校友卡负责部门以及联系方式及上班时间？</b><br/>
        负责部门：师生事务办事大厅<br/>
        负责人：周老师,王老师<br/>
        联系方式：0571-888888888<br/>
        上班时间：我们全年无休，为您服务<br/>
    </p>
</div>

<script type="text/javascript">
    $(function($) {
        $("#alumni_navbar4").addClass("nav-current");
        $(".second-menu").hide();
    });
</script>
