
@{
    ViewBag.Title = "校友邮箱";
}

<style>
    .email-detail{
        width:100%;
        height:400px;
        margin-top:10px;
    }
    .main-left{
        float:left;
        width:50%;
    }
    .main-left img{
        width:100%;
        max-width:100%;
        max-height:100%;
    }
    .main-right{
        float:right;
        width :45%;
        padding:10px;
        height:85%;
        border:1px dashed #ccc;
        border-radius:3px;

    }
    .main-right h3{
        width:100%;
        height:30px;
        line-height:30px;
        text-align:center;
        margin-bottom:20px;

    }
    .main-right div{
        margin-bottom:20px;
    }
    .main-right .submit{
        width:100%;
        height:30px;
        line-height:30px;
        background:#00b4f5;
        text-align: center;
        margin-top:50px;
    }
    .submit button{
        color:#fff;
        background:none;
        border:0 none;
    }
    .password-change,.login-win{
        position:fixed;
        left:35%;
        top:20%;
        width:400px;
        padding:20px;
        height:350px;
        border:1px solid #afafaf;
        border-radius:3px;
        background:#fff;
    }
    .password-change h3{
        width:100%;
        height:30px;
        line-height:30px;
        text-align:center;
        margin-bottom:20px;

    }
    .password-change div{
        margin-bottom:20px;
    }
    .password-change .submit{
        width:100%;
        height:30px;
        line-height:30px;
        background:#00b4f5;
        text-align: center;
        margin-top:50px;
    }
    .password-change .submit button{
        color:#fff;
        background:none;
        border:0 none;
    }
    .password-change .cancel{
        position:absolute;
        top:2px;
        right:4px;
        cursor:pointer;
    }
</style>

<div class="">
    您的位置：<a href="#" class="user-address">校友服务</a> <em>&#62</em>校友邮箱
</div>
<div  class="email-detail">
    <div class="main-left">
        <img src="~/Content/images/big-logo.jpg"/>
    </div>
    <div class="main-right">
        <h3>邮箱登录界面</h3>
        <form>
            <div><span class="detail-title1">用户名</span><input type="text" class="form-text-normal"></div>
            <div><span class="detail-title1">密码</span><input type="text" class="form-text-normal"><a href="##" class="forget-password">&nbsp;&nbsp;&nbsp;&nbsp;忘记密码？</a></div>
            <div style="margin-left:30px;"><input type="checkbox" checked><span class="">记住用户名？</span></div>
            <div class="submit"><button >登录</button></div>
        </form>
    </div>
</div>
<!--修改密码界面-->
<div class="password-change" style="display:none;">
    <i class="cancel"><img src="~/Content/images/icon_delete_1.png"/></i>
    <h3>修改密码界面</h3>
    <form>
        <div><span class="detail-title1">用户名</span><input type="text" class="form-text-normal"></div>
        <div><span class="detail-title1">旧密码</span><input type="text" class="form-text-normal"></div>
        <div><span class="detail-title1">新密码</span><input type="text" class="form-text-normal"></div>
        <div class="submit"><button >修改</button></div>
    </form>
</div>

<script type="text/javascript">
    $(function($) {
        $("#alumni_navbar4").addClass("nav-current");
        $(".second-menu").hide();
    });
    /*修改密码界面的js*/
    $(".forget-password").click(function() {
        $(".password-change").show();
    });
    $(".cancel").click(function() {
        $(this).parent().hide();
    });
</script>
