
@{
    ViewBag.Title = "创建新活动";
}

<div class="tooltip-bar clearfix">
    <div class="tooltip-bar-address">
        您的位置：<a href="/Activity/ActivityList" class="user-address">校友天地</a> <em>&#62</em> 创建新活动
    </div>
</div>
<div class="inteset-org">
    <div class="new-section">
        <div class="detail-head">新建活动</div>
        <div class="detail-middle5">
            <div class="clearfix">
                <ul class="user-box-ul clearfix">
                    <li class="clearfix">
                        <span class="detail-title1">活动名称</span>
                        <input type="text" class="form-text-normal">
                    </li>
                    <li class="clearfix">
                        <span class="detail-title1">活动举办时间</span>
                        <input type="text" class="form-text-normal">
                    </li>
                    <li class="clearfix">
                        <span class="detail-title1">活动人数</span>
                        <input type="text" class="form-text-normal">
                    </li>

                </ul>
            </div>
            <div class="clearfix">
                <div class="detail-title1">标签</div>
                <ul class="new-detail-style">
                    <li class="new-detail-item"><!-- 有权限删除的时候li上增加样式 could-delete，鼠标经过就会显示删除按钮 -->
                        <span class="option-city-item">篮球</span>
                        <em class="delete-icon">✖</em>
                    </li>
                    <li>
                        <div class="input-tag" style="display:none;"><span class="detail-title1">请输入标签名</span><input type="text" id="tag" class="form-text-normal"/></div>
                        <button type="button" class="btn-add-s1" title="添加"></button>
                    </li>
                </ul>
            </div>
            <div class="clearfix">
                <span class="detail-title1">活动备注</span>
                <textarea class="form-text-area-s2" style="width:889px;"></textarea>
            </div>
        </div>
        <div class="new-detail-bottom clearfix">
            <button type="button" class="btn-default btn-sure">确定</button>
            <button type="button" class="btn-default btn-cancel"   onclick="window.location.href = '/Activity/ActivityList'">取消</button>
        </div>
    </div>
</div>

<script>
    /*导航切换*/
    $(function($) {
        $("#alumni_navbar3").addClass("nav-current");
        $(".second-menu").hide();
    });
    /* 添加新标签和删除标签*/
    $(".delete-icon").click(function() {
        $(this).parent().remove();
    })
    $(".btn-add-s1").click(function() {
        $(this).hide();
        $(".input-tag").show().attr("value",'');

    });
    /* "创建新标签"*/
    $(".form-text-normal").keypress(function(){
        if (event.keyCode == 13) {

            var $text = $("#tag").val();
            $(".btn-add-s1").show();
            $(".input-tag").hide();
            if ($text == "") {


            } else {
                var $htm = $(' <li class="new-detail-item">' +
                    '<span class="option-city-item">' +
                    $text +
                    '</span>' +
                    '<em class="delete-icon">✖</em>' +
                    ' </li>');
                $(".new-detail-style").prepend($htm);
                $(".delete-icon").on("click", function() {
                    $(this).parent().remove();
                })

            }
        }

    });
</script>
