
@{
    ViewBag.Title = "招聘详情页";
}

<style>
    .now-location{
        margin-bottom:20px;
    }
    .datal-news h3{
        width:100%;
        text-align:center;
        line-height:30px;
        font-size:20px;
    }
    .detail{
        height:24px;
        line-height:24px;
        text-align:right;
    }
    .datal-news p{
        line-height:24px;
        font-size:14px;
    }
    .datal-news img{
        width:100%;
        max-width:100%;
        max-height:100%;
    }
    .mainbg{
        background:#fff;
        padding:30px;
    }
</style>

<div class="">
    您的位置：<a href="/Activity/ActivityList" class="user-address">校友天地</a> <em>&#62</em><a href="/Activity/RecruitList" class="user-address"> 招聘列表</a><em>&#62</em>招聘详情页
</div>

<div class="datal-news">
    <h3>淘宝招聘后台工程师</h3>
    <div class="detail"> <span class="new-aut">信息来源：13级安徽校友</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="new-time">2017-5-13</span></div>
    <p>
        公司简介：<br/>
        淘宝公司是一家好公司 淘宝公司是一家好公司 淘宝公司是一家好公司 淘宝公司是一家好公司 淘宝公司是一家好公司 淘宝公司是一家好公司 淘宝公司是一家好公司
        淘宝公司是一家好公司淘宝公司是一家好公司淘宝公司是一家好公司淘宝公司是一家好公司
    </p>
    <p>
        岗位职责：<br/>
        负责新闻和快报后台技术研发；<br/>
        参与项目的架构设计、评审、技术攻坚及优化；<br/>
        参与系统文档的撰写、维护。<br/>
        计算机相关专业本科以上学历，两年以上开发工作经验；<br/>
        精通C/C++或PHP语言开发，熟悉Linux/Unix平台开发，至少熟悉一种脚本语言；<br/>
        熟悉Mysql数据库开发，熟悉NoSQL，如memcache/redis；<br/>
        熟悉TCP/IP、HTTP等通信协议，具有Socket网络编程和大规模并发服务器开发经验优先；<br/>
        软件知识结构全面，基本功扎实。良好的团队合作能力，善于沟通，热爱开发事业。<br/>
        有意向者请投递简历至zsq_hdu@163.com或电话联系13588045017。<br/>
    </p>
    <img/>
</div>

<script>
    /*导航切换*/
    $(function($) {
        $("#alumni_navbar3").addClass("nav-current");
        $(".second-menu").hide();
    });
</script>
