
@{
    ViewBag.Title = "发布新闻";
}

<div class="tooltip-bar clearfix">
    <div class="tooltip-bar-address">
        您的位置：<a href="/News/HomePage" class="user-address">首页</a> <em>&#62</em> 发布新闻
    </div>
</div>
<div class="inteset-org">
    <div class="new-section">
        <div class="detail-head">发布新闻</div>
        <div class="detail-middle5">
            <div class="clearfix">
                <ul class="user-box-ul clearfix">
                    <li class="clearfix">
                        <span class="detail-title1">新闻标题</span>
                        <input type="text" class="form-text-normal"  id="newsPub_Ntit">

                    </li>
                    <li class="clearfix">
                        <span class="detail-title1">新闻作者</span>
                        <input type="text" class="form-text-normal" id="newsPub_Nauthor">
                    </li>
                </ul>
            </div>
            <div style="display: none" id = "newsPub_Ntype">@ViewBag.NewType</div>
            <div class="clearfix">
                <div class="detail-title1">新闻标签</div>
                <ul class="new-detail-style">
                    <li class="new-detail-item"><!-- 有权限删除的时候li上增加样式 could-delete，鼠标经过就会显示删除按钮 -->
                        <span class="option-city-item">系统实施</span>
                        <em class="delete-icon">✖</em>
                    </li>
                    <li>
                        <div class="input-tag" style="display:none;"><span class="detail-title1">请输入标签名</span><input type="text" id="tag" class="form-text-normal"/></div>
                        <button type="button" class="btn-add-s1" title="添加"></button>
                    </li>
                </ul>
            </div>
            <div class="clearfix">
                <span class="detail-title1">新闻内容</span>
                <textarea class="form-text-area-s2" style="width:889px;height:260px;" id="newsPub_Ncontent"></textarea>
            </div>
        </div>
        <div class="new-detail-bottom clearfix">
            <button type="button" class="btn-default btn-sure" id="newsPub_Release">发布</button>
            <button type="button" class="btn-default btn-cancel" onclick="window.location.href = '/News/HomePage'">取消</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#newsPub_Release').click(function() {
        var newRelease = {
            Ntit : $('#newsPub_Ntit').val(),
            Nauthor : $('#newsPub_Nauthor').val(),
            Ntag : "默认标签",
            Ntype : $('#newsPub_Ntype').text(),
            Ncontent : $('#newsPub_Ncontent').val()
        }
        var ajax = {
            url: "/News/CreateNews",
            data: JSON.stringify(newRelease),
            type: 'Post',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            cache: false,
            success: function () {
                window.location.href = '/News/HomePage';
            },
            error: function () {
                alert('新闻发布失败');
                return;
            }
        }
        $.ajax(ajax);
    });
</script>

<script type="text/javascript">
    $(function($) {
        $("#alumni_navbar1").addClass("nav-current");
        $(".second-menu").hide();
    });
</script>