
@{
    ViewBag.Title = "联系我们";
}

<div class="">
    您的位置：<a href="/Contact/Contact" class="user-address">联系我们</a>
</div>
<div class="card-detail">
    <h3>致亲爱的校友的一封信</h3>
    <p>
        亲爱的校友，如果您对此系统提供的服务不甚满意，或者是您的服务没有得到相应的解决。请联系我们。<br/>
        办公电话：XXXXXXXXXXXXXXX；<br/>
        负责人：XXX；<br/>
        地址：XXXXXXXXXX：<br/>
        邮编：XXXXXXXXXX：<br/>
        邮箱：XXXXXXXXXXXXXXX：<br/>
        我们将竭诚为您服务！
    </p>

</div>

<script type="text/javascript">
    $(function($) {
        $("#alumni_navbar6").addClass("nav-current");
        $(".second-menu").hide();
    });
</script>